<a href="https://colab.research.google.com/github/Ibrahim341998/Python-DataStructure/blob/main/Python_DataStructure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Structure
### A data structure is a particular way of organizing data in a computer so that it can be used effectively.

# Arrays
### Other than some generic containers like list, Python in its defination also handle containers with specified data types. The array can be handled in python by a module named "array". They can be useful when we have to manipulate only specific data types values.
## Operations:
### 1. array(data type, value list)
### 2. append()
### 3. insert(i,x)

In [1]:
import array

arr = array.array('i',[1,2,3])

print ("the new created array is : ", end="")
for i in range(0,3):
  print(arr[i], end="")

print('\r')

arr.append(4);

print("the append array is : ", end="")
for i in range(0, 4):
  print(arr[i], end="")

arr.insert(2,5);

print('\r')

print("The array after insertion is : ",end="")
for i in range (0,5):
  print(arr[i],end="")

the new created array is : 123
the append array is : 1234
The array after insertion is : 12534

### 4. pop()
### 5. remove()

In [2]:
import array

arr = array.array('i',[1,2,3,1,5])

print("The new created array is : ",end="")
for i in range(0,5):
  print(arr[i],end="")

print("\r")

print("The array after popping is: ",end="")
for i in range(0,4):
  print(arr[i],end="")

print("\r")

arr.remove(1)

print("The array after removing is : ",end="")
for i in range(0,3):
  print(arr[i],end="")

The new created array is : 12315
The array after popping is: 1231
The array after removing is : 231

### index()
### reverse()

In [3]:
import array

arr = array.array('i',[1,2,3,1,2,5])

print("The created array is : ",end="")
for i in range (0,6):
  print(arr[i],end="")

print("\r")

print("The index of 1st occurence of 2 is : ",end="")
print(arr.index(2))

arr.reverse()

print("The array after reversing is : ", end="")
for i in range (0,6):
  print(arr[i],end="")

The created array is : 123125
The index of 1st occurence of 2 is : 1
The array after reversing is : 521321

### typecode
### itemsize
### buffer_info()

In [5]:
import array 
arr = array.array('i',[1,2,3,1,2,3])
print("the datatype of the array is : ",end ="")
print (arr.typecode)
print('\r')
print("The itemsize of array is : ", end='')
print(arr.itemsize)
print('\r')
print("The buffer info. of array is : ",end="")
print(arr.buffer_info())

the datatype of the array is : i

The itemsize of array is : 4

The buffer info. of array is : (139803585067952, 6)

In [7]:
# Instead of importing array we can also * to import array.
from array import *

arr = array('i',[1,2,3,1,2,3])
print(arr)

array('i', [1, 2, 3, 1, 2, 3])

### count()
### extend(arr)

In [9]:
from array import *
arr1 = array('i',[1,2,3,1,2,5])
arr2 = array('i',[1,2,3])
print("The occurence of 1 in array is : ", end="")
print(arr1.count(1))
print('\r')
arr1.extend(arr2)
print("The modified array is : ")
for i in range (0,9):
  print(arr1[i])

The occurence of 1 in array is : 2

The modified array is :
1
2
3
1
2
5
1
2
3

### fromlist() -----> using fromlist() to append list at the end of array
### tolist() -----> convert array to list

In [10]:
from array import *
arr = array('i',[1,2,3,1,2,5])
print("The created array is :",end="")
print(arr)
print('\r')
li = [1,2,3]
arr.fromlist(li)
print("The modefied array is :",end="")
for i in range (0,9):
  print(arr[i],end="")
li2 = arr.tolist()
print('\r')
print("The new list created is : ", end="")
for i in range(0,len(li2)):
  print(li2[i],end="")

The created array is :array('i', [1, 2, 3, 1, 2, 5])

The modefied array is :123125123
The new list created is : 123125123

In [11]:
# Python program to count the number of increments
c1 = 0
c2 = 0

for i in range (10):
  for j in range (100):
    c1 += 1
  c1 += 1

for i in range(100):
  for j in range(10):
    c2 += 1
  c2 += 1

print("Count in First = ",c1)
print("Count in Second =",c2)

Count in First =  1010
Count in Second = 1100

In [14]:
# Python program to count the number of comparison
# operations executed by FIRST and SECOND 
c1=1
c2=1
i=0
while (i < c1 and i < 10):
  j = -1
  c1 += 1
  while (j < c1 and j < 100):
    c1 += 1
    j += 1
  i += 1

i = 0
while (i < c2 and i < 100):
  j = -1
  c2 += 1
  while (j < c2 and j < 10):
    c2 += 1
    j += 1
  i += 1

print(" Count fot FIRST ",c1)
print(" Count fot SECOND ",c2)

 Count fot FIRST  1021
 Count fot SECOND  1201